/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    font-family: "Source Sans Pro", sans-serif;
    margin:0;
    font-size:13px;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

/*/// HEADER ///*/
/*/// NAVIGATIEBALK ///*/
header {
    position:sticky;
    width: 100%;
    top:0;
    left:0; right:0;
    z-index:5;
    background-color:white;
}

header p {
    background-color:gainsboro;
    text-align: center;
    padding: .75em;
}

header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:white;
    margin: 5px 0;
}

/*///HAMBURGER///*/

header div nav:first-of-type button:first-of-type {
    position: relative;
    background-image:url('../images/hamburger.png');
    z-index: 10;
    background-color: white;
    background-position: center;
    background-size:auto 2em;
    background-repeat: no-repeat;
    cursor:pointer;
    width: 40px;
    height: 20px;
    border:none;
    margin-top: 9px
    }

header div nav:first-of-type ul {
    margin:0; padding: 6em 0 0;
    background-color:white;
    position: fixed;
    top:0; left:0;
    width: 70%;
    height: 100%;
    text-align: left;
    transform: translateX(-100%);
    transition:.5s;
}

header div nav:first-of-type ul.toonMenu {
    transform: translateX(0);
}

header div nav:first-of-type ul:first-of-type li {
    padding:.5em;
    margin-left: 1em;
}

header div nav:first-of-type ul:first-of-type li:hover {
    cursor: pointer;
    color: gainsboro;
}

nav:first-of-type {
    order:-1
}


/*///LOGO///*/
header a {
    font-size: 30px;
    font-family: Amer-Stand-Regular;
    color: black;
    text-decoration: none;
}


/*///PROFIEL-CART///*/
header nav:nth-of-type(2) ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header nav:nth-of-type(2) ul li:first-of-type {
    background-image: url('../images/profile.png');
    background-size:auto 30px;
    margin-top: 4px;
    }
header nav:nth-of-type(2) ul li:nth-of-type(2) {
    background-image: url('../images/hart.png');
    background-size:auto 40px;
    margin-top: 4px;
}
header nav:nth-of-type(2) ul li:last-of-type {
    background-image: url('../images/wishlist.png');
    background-size:auto 30px;
    margin-top: 4px;
}

header nav:nth-of-type(2) ul li {
    padding:.25em;
    height: 2.5em;
    width: 3em;
    background-size:auto 2em;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    font-size:1em;
}

/*/// MAIN ///*/

main div:first-of-type {
    background-image:url('../images/reforestationheader.jpeg');
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    margin:0; padding:0;
    background-size: cover;
    word-spacing: .1em;
}

main div:first-of-type h2 {
    font-size:3em;
    left:1em; right:1em;
    color:white;
    letter-spacing: .05em;
    text-align: center;
    font-weight: normal;
}

main div:first-of-type h3 {
    color:white;
    font-size:1.75em;
    text-align: center;
    font-weight: normal;
    margin-bottom: auto;
}

/*/// INFOGRAPHIC ///*/
div:nth-of-type(2) {
    background-color: #F2F2EA;
    text-align: center;
    padding: 1em 1em 2em 1em;
}

div:nth-of-type(2) h4 {
    font-weight: normal;
    font-size: 1.5em;
}

div:nth-of-type(2) li:nth-of-type(1) {
    background-image:url('../images/treesplanted.png');}
div:nth-of-type(2) li:nth-of-type(2) {
    background-image: url('../images/arearestored.png');}
div:nth-of-type(2) li:nth-of-type(3) {
    background-image: url('../images/carbontrapped.png');}

div:nth-of-type(2) li {
    position: relative;
    height: 15em;
    padding:.5em;
    margin-top: 1.5em;
    background-size: auto 12em;
    background-position: center 1em;
    background-repeat: no-repeat;
}

div:nth-of-type(2) li p {
    position: absolute;
    font-size: 1.5em;
    bottom:5%; left: 0; right: 0;
}

/*/// EERSTE ARTIKEL ///*/
article {
    position: relative;
    padding:2em;
    display: grid;
}

article h4 {
    text-align: center;
    padding:1em 0;
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}

article p {
    font-size: 18px;
}

article p+p {
    margin-top: .5em;
}

/*/// QUOTE ///*/
section {
    text-align: center;
    padding: 1em;
}

section h3 {
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}

/*/// LANDEN ///*/
.countries {
    position: relative;
    display: grid;
    padding-top: 3em;
    width: 95%;
    margin-left: 2.5%;
}

/* alle koppen in de afbeeldingen */


.countries li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    width: 90%;
    padding: 2em;
}

/* marge tussen de li's */
.countries li+li {
    margin-top: 1em;
}

#australia {
    background-image: url('../images/australia.webp');
    background-position: center;
    min-height: 60vh;
    width: 100%;
    position: relative;
    transition: 0.3s;
}

#australia:hover, #amazon:hover, #india:hover, #zambia:hover {
    transform: translatey(-5px);
    transition: 0.3s;
}

.countries h3 {
    font-size: 3em;
}

/* positionering paragrafen */
.countries li:first-of-type p:first-of-type, .countries li:nth-of-type(2) p:first-of-type {
    font-size: 1.5em;
    margin-bottom: auto;
    width: 80%;
}

/* positionering paragrafen */
.countries li:first-of-type p:last-of-type, .countries li:nth-of-type(2) p:last-of-type {
    font-size: 1.5em;
}

/* afbeeldingen boven de buttons */
.countries img {
    width: 6em;
    margin-bottom: auto;
    margin-top: .5em;
}

#amazon img {
    width: 7em;
    margin-top: .5em;
}


#amazon {
    background-image: url('../images/amazon.webp');
    background-position: center;
    min-height: 60vh;
    width: 100%;
    position: relative;
    transition: 0.3s;
}

/* buttons in eerste twee afbeeldingen */
.countries button {
    font-size:.8em;
    width: 16em;
    padding:.5em;
    line-height: 2em;
    margin-top: .5em;
    margin-bottom: auto;
}

/* laatste twee li's */
#india {
    background-image: url('../images/india.webp');
    background-repeat: no-repeat;
    margin-bottom: 1em;
    transition: 0.3s;
}

#india h3, #zambia h3 {
    margin-top: auto;
}

#zambia {
    background-image: url('../images/zambia.webp');
    background-repeat: no-repeat;
    margin-bottom: 1em;
    transition: 0.3s;
}

.countries li:nth-of-type(3), .countries li:last-of-type {
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
}

.countries li:nth-of-type(3) p, .countries li:last-of-type p {
/*    position: absolute;*/
    font-size: 1.5em;
    line-height: 2em;
    max-width: 30em;
    width: 100%;
    margin-bottom: auto;
/*    top: calc(50% - 1em);*/
}

/*/// WERELDKAART ///*/
main div:last-of-type {
    text-align: center;
    padding: 2em;
    padding-bottom: 2em;
    background-color: #F2F2EA;
}

main div:last-of-type h4 {
    padding:0 0 2em 0;
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}



/*/// FOOTER ///*/
/*// Form //*/
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form p {
    color:darkgray;
    text-align: center;
    font-weight: lighter;
    margin:10px;
    font-size:14px;
}

form a {
    color:darkgray;
}

input {
    margin: 8px;
    padding:.5em;
}

input[type="email"] {
    border: solid 1px darkgray;
    padding-top: 7px;
}

::placeholder {
    color:darkgray;
    font-size: 15px;
    font-weight: lighter;
}

input[type="submit"] {
    background-color: white;
    border: solid 1px black;
    padding: .7em;
    margin-top: 2px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: .1em;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
}


/*// FAQ //*/

.FAQ li {
    text-align: center;
    padding:.5em;
}

.FAQ ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.FAQ ul:first-of-type li {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4em auto;
    height: 3em;
    min-width: 4em;
}

.FAQ ul:first-of-type li:first-of-type {
    background-image: url('../images/shopify.png');
}

.FAQ ul:first-of-type li:nth-of-type(2) {
    background-image: url('../images/aes.png');
}

.FAQ ul:first-of-type li:nth-of-type(3) {
    background-image: url('../images/paypal.png');
}

.FAQ ul:first-of-type li:nth-of-type(4) {
    background-image: url('../images/visa.png');
}

.FAQ ul:first-of-type li:nth-of-type(5) {
    background-image: url('../images/mastercard.png');
}

.FAQ ul:first-of-type li:nth-of-type(6) {
    background-image: url('../images/discover.png');
}

.FAQ ul:first-of-type li:last-of-type {
    background-image: url('../images/american%20express.png');
}

.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: none;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  color: #ccc;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*// Socials //*/

.socials li {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;    
}

.socials li:first-of-type {
    left: calc(50% - 3.75em);
}

.socials li:nth-of-type(2) {
    left: calc(50% - .75em);
}

.socials li:last-of-type {
    left: calc(50% + 2.25em);
}

.socials img {
    width: 1.5em;
    height: 1.5em;
}

.socials {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px; 
}

/*// Disclaimer //*/

footer p.copyright {
    text-align: center;
    color:darkgray;
    margin:5em 0 2em 0;
}



@media (min-width: 375px) {
    .countries li:first-of-type p:first-of-type, .countries li:nth-of-type(2) p:first-of-type {
        font-size: 1.7em;
        top:5em;
    }
}


/*/// RESPONSIVENESS ///*/
@media (min-width: 540px) {
    
}

@media (min-width: 768px) {
    .countries {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.4em;
    }
    
    #australia, #amazon {
        min-height: 60vh;
        height: auto;
        grid-column: span 2;
    }
    
    #india, #zambia {
        min-height: 25em;
    }
    
    .countries li:first-of-type p:first-of-type, .countries li:nth-of-type(2) p:first-of-type {
        font-size: 2.2em;
        top:4em;
        width: 60%;
        left: calc(50% - 30%);
    }
    
    .countries li:nth-of-type(3), .countries li:last-of-type {
        min-height: 30vh;
        height: auto;
    }
    
    div:nth-of-type(2) ul{
        display: flex;
        flex-wrap: wrap;
        margin: 3em 0;
    }
    
    div:nth-of-type(2) li{
        flex-grow: 1;
    }
    
    article {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.1em;
}
    
    article h4 {
        font-size: 2.5em;
        grid-column: span 2;
}
    
    
    article p:nth-of-type(2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    article p {
        font-size: 1.5em;
    }
    
    article p+p {
        margin-top: 0;
    }
    
    section h3 {
        font-size: 2.5em;
        line-height: 1.5em;
    }
    
    main div:first-of-type h2 {
        font-size: 6em;
        top:18%;
    }
    
    main div:first-of-type h3 {
        font-size: 3em;
        top: 75%;
    }
    
    main div:last-of-type h4 {
        font-size: 2.5em;
    }
}

@media (min-width: 1024px) {
    main div:first-of-type h3 {
        font-size: 3em;
        top: 50%;
    }
    
    div:nth-of-type(2) li {
        height: 20em;
        background-position: center 4em;
}
    
    div:nth-of-type(2) h4 {
        font-size: 1.7em;
}
    
    div:nth-of-type(2) li p {
        font-size: 1.7em;
}
    
    article h4 {
        font-size: 3em;
}
    
    section h3 {
        font-size: 3em;
}
    
    #australia {
        height: 35vh;
}
    
    #amazon {
        height: 35vh;
}
    
    #india, #zambia {
        min-height: 30em;
    }
    
    main div:last-of-type h4 {
        font-size: 3em;
}
    
    header div nav:first-of-type ul {
        transform:translatex(0);
        position:static;
        display:flex;
        padding:0;
        width: 100%;
}
    
    header div nav:first-of-type li{
        flex-grow:1;
        margin-top: 1%;
    }
    
    header div nav:first-of-type button:first-of-type {
        display: none;
    }
    
    nav:first-of-type {
        order:0;    
    } 
    
    form {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 20px;
    }
    
    form p {
        max-width: 40em;
        text-align: left;
        margin: 0;
    }
    
    input {
        max-height: 2.5em;
    }

    input[type="email"] {
        margin: 0;
        min-width: 25%;
        
    }

    input[type="submit"] {
        font-size: 1em;
        padding: 0 .5em;
        margin: 0;
    }
}

@media (min-width: 1500px) {
    main {
        margin-left: 15%;
        margin-right: 15%;
    }
}
























