/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    font-family: "Source Sans Pro", sans-serif;
    margin:0;
    font-size:13px;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

/*/// HEADER ///*/
/*/// NAVIGATIEBALK ///*/
header {
    position:sticky;
    width: 100%;
    top:0;
    left:0; right:0;
    z-index:5;
    background-color:white;
}

header p {
    background-color:gainsboro;
    text-align: center;
    padding: .75em;
}

header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:white;
    margin: 5px 0;
}

/*///HAMBURGER///*/

header div nav:first-of-type button:first-of-type {
    position: relative;
    background-image:url('../images/hamburger.png');
    z-index: 10;
    background-color: white;
    background-position: left;
    background-size:auto 2em;
    background-repeat: no-repeat;
    cursor:pointer;
    width: 40px;
    height: 20px;
    border:none;
    margin-top: 9px
    }

header div nav:first-of-type ul {
    margin:0; padding: 6em 0 0;
    background-color:white;
    position: fixed;
    top:0; left:0;
    width: 70%;
    height: 100%;
    text-align: left;
    transform: translateX(-100%);
    transition:.5s;
}

header div nav:first-of-type ul.toonMenu {
    transform: translateX(0);
}

header div nav:first-of-type ul:first-of-type li {
    padding:.5em;
    margin-left: 1em;
}

nav:first-of-type {
    order:-1
}


/*///LOGO///*/
header a {
    font-size: 30px;
    font-family: Amer-Stand-Regular;
    color: black;
    text-decoration: none;
}


/*///PROFIEL-CART///*/
header nav:nth-of-type(2) ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header nav:nth-of-type(2) ul li:first-of-type {
    background-image: url('../images/profile.png');
    background-size:auto 30px;
    margin-top: 4px;
    }
header nav:nth-of-type(2) ul li:nth-of-type(2) {
    background-image: url('../images/hart.png');
    background-size:auto 40px;
    margin-top: 4px;
}
header nav:nth-of-type(2) ul li:last-of-type {
    background-image: url('../images/wishlist.png');
    background-size:auto 30px;
    margin-top: 4px;
}

header nav:nth-of-type(2) ul li {
    padding:.25em;
    height: 2.5em;
    width: 3em;
    background-size:auto 2em;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    font-size:1em;
}

header nav:first-of-type ul li:hover {
    color: gainsboro;
    cursor: pointer;
}

/*/// MAIN ///*/
/*// Header //*/

article:first-of-type {
    position: relative;
    background-image: url('../images/homeheader2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    word-spacing: .1em;
    margin: 0; padding: 0;
}

article:first-of-type h2 {
    position: absolute;
    top: 20%;
    font-size: 3em;
    left: 1em; right: 1em;
    color: white;
    text-align: center;
    font-weight: normal;
}

article:first-of-type p {
    position: absolute;
    bottom: 30%;
    left: 1em; right: 1em;
    color:white;
    font-size: 1.75em;
    text-align: center;
    font-weight: normal;
}

article:first-of-type button {
    position: absolute;
    left: calc(50% - 4.75em);
    bottom: 15%;
    width:9.5em; height: 4.2em;
    background-color: white;
    border: none;
}

article:first-of-type button:hover {
    background-color: black;
    color: white;
}

/*// Artikelen //*/
article:nth-of-type(2) {
    display: grid;
}

article:nth-of-type(2) div {
    position: relative;
    height: 83vh;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2em;
}

article:nth-of-type(2) img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0; right: 0;
    top: 1%;
}

article:nth-of-type(2) h4 {
    position: absolute;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    top: 20em;
    line-height: 1.5em;
}

article:nth-of-type(2) p {
    position: absolute;
    color: black;
    font-size: 1.1em;
    top: 23em;
    line-height: 2em;
}

article:nth-of-type(2) ul {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 3.7em;
}

article:nth-of-type(2) li {
    padding: .25em .5em;
    border: 1px solid black;
    margin: 5px;
}

article:nth-of-type(2) button {
    position: absolute;
    width: 100%;
    height: 3em;
    text-align: center;
    background-image: url(../images/wishlist.png);
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    background-position: 32% center;
    border: .5px solid black;
    background-color: white;
    left: 0; right: 0;
    bottom: 0;
}

article:nth-of-type(2) button:hover {
    background-color: black;
    color: white;
}

/*// Video //*/
.video {
    position: relative;
    margin-top: 2em;
}

.video h3 {
    position: absolute;
    width: 80%;
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    color: white;
    left: calc(50% - 40%);
    top: 2em;
}

.video button {
    position: absolute;
    border: none;
    width:9.5em; height: 4.2em;
    background-color: white;
    bottom: 2.5em;
    left: calc(50% - 4.75em);
    line-height: 2em;
}

/*/// FOOTER ///*/
/*// Infoicons //*/
footer .vertical {
    width: 50%;
    margin-left: calc(50% - 25%);
}

footer .horizontal {
    display: none;
}

/*// Form //*/
form p {
    color:darkgray;
    text-align: center;
    font-weight: lighter;
    margin:10px;
    font-size:14px;
}

form a {
    color:darkgray;
}

input {
    width: 95%;
    margin: 8px;
    padding:.5em;
}

input[type="email"] {
    border: solid 1px darkgray;
    padding-top: 7px;
}

::placeholder {
    color:darkgray;
    font-size: 15px;
    font-weight: lighter;
}

input[type="submit"] {
    background-color: white;
    border: solid 1px black;
    padding: .7em;
    margin-top: 2px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: .1em;
}

/*// FAQ //*/

.FAQ li {
    text-align: center;
    padding:.5em;
}

.FAQ img {
    width:7em;
    height: 6em;
    margin-left: 35%;
}

.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: none;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  color: #ccc;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/*// Socials //*/

.socials li {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;    
}

.socials li:first-of-type {
    left: calc(50% - 3.75em);
}

.socials li:nth-of-type(2) {
    left: calc(50% - .75em);
}

.socials li:last-of-type {
    left: calc(50% + 2.25em);
}

.socials img {
    width: 1.5em;
    height: 1.5em;
}

.socials {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px; 
}

/*// Disclaimer //*/

footer p.copyright {
    text-align: center;
    color:darkgray;
    margin:5em 0 2em 0;
}


/*/// RESPONSIVENESS ///*/
@media (min-width: 375px) {
    article:nth-of-type(2) div {
        height: 81vh;
        height: 81vh;
    }
    
    article:nth-of-type(2) h4 {
        font-size: 1.4em;
    }
    
    article:nth-of-type(2) p {
        font-size: 1.3em;
    }

.video h3 {
    font-size: 2em;
    top: 1.7em;
}

.video button {
    bottom: 3.5em;
}
}

@media (min-width: 414px) {
    article:nth-of-type(2) div {
        height: 79vh;
    }
    
    article:nth-of-type(2) h4 {
        font-size: 1.55em;
    }
    
    article:nth-of-type(2) p {
        font-size: 1.425em;
    }
    
    .video h3 {
        font-size: 2em;
        top: 2em;
}

    .video button {
        bottom: 4em;
}
}

@media (min-width: 768px) {
    article:first-of-type h2 {
        top: 40%;
        font-size: 3.1em;
    }
    
    article:first-of-type p {
        bottom: 42%;
        
    }
    
    article:first-of-type button {
        bottom:30%;
        font-size: 1.2em;
    }
    
    article:nth-of-type(2) {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    article:nth-of-type(2) div {
        height: 55vh;
    }
    
    article:nth-of-type(2) h4 {
        top: 18.5em;
    }
    
    article:nth-of-type(2) p {
        top: 21.5em;
    }
    
    .video h3 {
        top: 5em;
    }

    .video button {
        bottom: 14em;
    }
}

@media (min-width: 1024px) {
    header div nav:first-of-type ul {
        transform:translatex(0);
        position:static;
        display:flex;
        padding:0;
        width: 100%;
    }
    
    header div nav:first-of-type li{
        flex-grow:1;
    }
    
    header div nav:first-of-type button:first-of-type {
        display: none;
    }
    
    nav:first-of-type {
        order:0;    
}
    footer .vertical {
        display: none;
    }
    
    footer .horizontal {
        display: block;
        width: 100%;
    }
    
    article:nth-of-type(2) div {
        height: 50vh;
    }
    
    article:nth-of-type(2) h4 {
        font-size: 2.1em;
        top: 18.2em;
    }
    
    article:nth-of-type(2) p {
        font-size: 2em;
        top: 20.3em;
    }
    
    article:nth-of-type(2) ul {
        bottom: 4.9em;
    }
    
    article:nth-of-type(2) li {
        font-size: 1.24em;
    }
    
    article:nth-of-type(2) button {
        height: 4em;
    }
    
    .video h3 {
        top: 9em;
    }
    
    .video button {
        bottom: 17em;
    }
}

@media (min-width: 1200px) {
    
}














