/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    font-family: "Source Sans Pro", sans-serif;
    margin:0;
    font-size:13px;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

/*/// HEADER ///*/
/*/// NAVIGATIEBALK ///*/
header {
    position:sticky;
    width: 100%;
    top:0;
    left:0; right:0;
    z-index:5;
    background-color:white;
}

header p {
    background-color:gainsboro;
    text-align: center;
    padding: .75em;
}

header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:white;
    margin: 5px 0;
}

/*///HAMBURGER///*/

header div nav:first-of-type button:first-of-type {
    position: relative;
    background-image:url('../images/hamburger.png');
    z-index: 10;
    background-color: white;
    background-position: left;
    background-size:auto 2em;
    background-repeat: no-repeat;
    cursor:pointer;
    width: 40px;
    height: 20px;
    border:none;
    margin-top: 9px
    }

header div nav:first-of-type ul {
    margin:0; padding: 6em 0 0;
    background-color:white;
    position: fixed;
    top:0; left:0;
    width: 70%;
    height: 100%;
    text-align: left;
    transform: translateX(-100%);
    transition:.5s;
}

header div nav:first-of-type ul.toonMenu {
    transform: translateX(0);
}

header div nav:first-of-type ul:first-of-type li {
    padding:.5em;
    margin-left: 1em;
}

nav:first-of-type {
    order:-1
}


/*///LOGO///*/
header a {
    font-size: 30px;
    font-family: Amer-Stand-Regular;
    color: black;
    text-decoration: none;
}


/*///PROFIEL-CART///*/
header nav:nth-of-type(2) ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header nav:nth-of-type(2) ul li:first-of-type {
    background-image: url('../images/profile.png');
    background-size:auto 30px;
    margin-top: 4px;
    }
header nav:nth-of-type(2) ul li:nth-of-type(2) {
    background-image: url('../images/hart.png');
    background-size:auto 40px;
    margin-top: 4px;
}
header nav:nth-of-type(2) ul li:last-of-type {
    background-image: url('../images/wishlist.png');
    background-size:auto 30px;
    margin-top: 4px;
}

header nav:nth-of-type(2) ul li {
    padding:.25em;
    height: 2.5em;
    width: 3em;
    background-size:auto 2em;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    font-size:1em;
}

/*/// MAIN ///*/

main div:first-of-type {
    background-image:url('../images/reforestationheader.jpeg');
    position: relative;
    height: 90vh;
    width: 100vw;
    margin:0; padding:0;
    background-size:cover;
    word-spacing: .1em;
}

main div:first-of-type h2 {
    position: absolute;
    top:10%;
    font-size:3em;
    left:1em; right:1em;
    color:white;
    letter-spacing: .05em;
    text-align: center;
    font-weight: normal;
}

main div:first-of-type h3 {
    position: absolute;
    bottom:10%;
    left:0; right:0;
    color:white;
    font-size:1.75em;
    text-align: center;
    font-weight: normal;
}

/*/// INFOGRAPHIC ///*/
div:nth-of-type(2) {
    background-color: #F2F2EA;
    text-align: center;
    padding: 1em 1em 2em 1em;
}

div:nth-of-type(2) h4 {
    font-weight: normal;
    font-size: 1.5em;
}

div:nth-of-type(2) li:nth-of-type(1) {
    background-image:url('../images/treesplanted.png');}
div:nth-of-type(2) li:nth-of-type(2) {
    background-image: url('../images/arearestored.png');}
div:nth-of-type(2) li:nth-of-type(3) {
    background-image: url('../images/carbontrapped.png');}

div:nth-of-type(2) li {
    position: relative;
    height: 15em;
    padding:.5em;
    margin-top: 1.5em;
    background-size: auto 12em;
    background-position: center 1em;
    background-repeat: no-repeat;
}

div:nth-of-type(2) li p {
    position: absolute;
    font-size: 1.5em;
    bottom:5%; left: 0; right: 0;
}

/*/// EERSTE ARTIKEL ///*/
article {
    position: relative;
    padding:2em;
}

article h4 {
    text-align: center;
    padding:1em 0 2em 0;
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}

article p {
    font-size: 18px;
}

article p+p {
    margin-top: .5em;
}

/*/// QUOTE ///*/
section {
    text-align: center;
    padding: 1em;
}

section h3 {
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}

/*/// LANDEN ///*/
.countries ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3em;
}

/* alle koppen in de afbeeldingen */
.countries h3 {
    position: absolute;
    font-size: 3em;
    top:1em; left:0; right:0;
}

.countries ul li {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color:white;
    text-align: center;
    width: 90%;
    left:5%; right:5%;
}

/* marge tussen de li's */
.countries li+li {
    margin-top: 1em;
}

#australia {
    background-image: url('../images/australia.webp');
    background-position: center;
    height: 85vh;
    width: 90vw;
    position: relative;
}

/* positionering paragrafen */
.countries li:first-of-type p:first-of-type, .countries li:nth-of-type(2) p:first-of-type {
    position: absolute;
    font-size: 1.5em;
    top:7em; left:calc(50% - 40%);
    width: 80%;
}

/* positionering paragrafen */
.countries li:first-of-type p:last-of-type, .countries li:nth-of-type(2) p:last-of-type {
    position: absolute;
    font-size: 1.5em;
    bottom: 9em; left:0; right:0; 
}

/* afbeeldingen boven de buttons */
.countries img {
    width: 6em;
    position: absolute;
    left:calc(50% - 3em);
    bottom: 6em;
}

#amazon img {
    width: 7em;
    left:calc(50% - 3.5em);
}


#amazon {
    background-image: url('../images/amazon.webp');
    background-position: center;
    height: 85vh;
    width: 90vw;
    position: relative;
}

/* buttons in eerste twee afbeeldingen */
.countries button {
    font-size:.8em;
    width: 16em;
    padding:.5em;
    position: absolute;
    bottom:2em; left: calc(50% - 8em); 
    right: 0;
    line-height: 2em;
}

/* laatste twee li's */
#india {
    background-image: url('../images/india.webp');
}

#zambia {
    background-image: url('../images/zambia.webp');
}

.countries li:nth-of-type(3), .countries li:last-of-type {
    background-position: center;
    height: 50vh;
    width: 90vw;
    position: relative;
}

.countries li:nth-of-type(3) p, .countries li:last-of-type p {
    position: absolute;
    font-size: 1.5em;
    line-height: 2em;
    width: 20em;
    top: calc(50% - 1em);
    left: calc(50% - 10em);
}

/*/// WERELDKAART ///*/
main div:last-of-type {
    text-align: center;
    padding: 2em;
    padding-bottom: 2em;
    background-color: #F2F2EA;
}

main div:last-of-type h4 {
    padding:0 0 2em 0;
    font-weight: normal;
    font-size: 1.5em;
    word-spacing: .05em;
}



/*/// FOOTER ///*/
/*///FORM///*/

form p {
    color:darkgray;
    text-align: center;
    font-weight: lighter;
    margin:10px;
    font-size:14px;
}

form a {
    color:darkgray;
}

input {
    width: 95%;
    margin: 10px;
    padding:.5em;
}

input[type="email"] {
    border: solid 1px darkgray;
    padding-top: 7px;
}

::placeholder {
    color:darkgray;
    font-size: 15px;
    font-weight: lighter;
}

input[type="submit"] {
    background-color: white;
    border: solid 1px black;
    padding: .7em;
    margin-top: 2px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: .1em;
}

/*///FAQ///*/

.FAQ li {
    text-align: center;
}


/*///SOCIALS///*/

footer ul.socials li:first-of-type {
    background-image: url("../images/fb.png");
}

footer ul.socials li:nth-of-type(2) {
    background-image: url("../images/insta.png");
}

footer ul.socials li:last-of-type {
    background-image: url("../images/vimeo.png");
}

footer .socials li {
    background-repeat: no-repeat;
    background-size: auto 10px;
    background-position: center;
    width:3em;
}

footer .socials {
    display: flex;
    flex-wrap: nowrap;
}

/*///DISCLAIMER///*/

footer p {
    text-align: center;
    color:darkgray;
    margin:5em 0;
}





















